@import "../../assets/scss/configs";

.googleSearchPage {
  position: static;

  & .container {
    background-color: $white;
    border-radius: $border-radius;
    margin: 36px;
    padding: 36px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    min-height: 500px;
  }
}
