@import "../../assets/scss/configs";

.taskBoardPage {
  position: static;

  & .container {
    margin: 0 32px;

    & .form {
      background: $white;
      padding: 16px;
      border-radius: $border-radius;
      box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    }
  }
}
