@import "../../assets/scss/configs";

.calendarPage {
  position: static;

  & .container {
    margin: 0 32px 16px;
    border-radius: $border-radius;
    background-color: $white;
    padding: 16px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}
